.contact {
  flex-direction: column;
  &__feedback {
    text-align: center;
    width: 950px;
    padding: 20px;
    background-color: $dark;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &-content {
      padding-top: 50px;
      width: 70%;
      justify-content: space-between;
      div {
        width:100%;
      }
      .half {
        width: calc(50% - 10px);
      }
    }
    &-subtitle {
      color: $gray;
    }
    &-title {
      padding-top: 50px;

    }
  }
  &__icons {
    margin-top: 50px;
    a {
      margin: 0 10px;
      :hover {
        color: $yellow;
      }
    }
  }
}


@media (max-width: $desktop-little) {
  .contact {
   
  }
}
  
@media (max-width: $tablet) {
  .contact {
    
  }
}
  
@media (max-width: $phone) {
  .contact {
    
  }
}
  