.header {
  width: 100%;
  background: none;

  color: $gray;
  //position: sticky;
  //position: fixed;
  position: absolute;
  top: 0;

  &__content {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__right {
    width: 100%;
  }
  
  &-burger {
    display: none; 

    position: relative;
    right: 0;
    & > div {
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
  
      width: 30px;
      height: 25px;
      cursor: pointer;
    }
    span {
      background-color: $light-gray;
      position: absolute;
      border-radius: 2px;
      transition: .3s cubic-bezier(.8, .5, .2, 1.4);
      width:100%;
      height: 3px;
      transition-duration: 450ms;

      &:nth-child(1) {
        top: 0; left: 0;
      }
      &:nth-child(2) {
        top: 11px; left: 0;
        opacity: 1;
      }
      &:nth-child(3) {
        bottom: 0; left: 0;
        width: 70%;
      }
    }
    &.open div {
      position: fixed;
      top: 25px;
      right: 5%;
    }
    &.open span:nth-child(1){
      transform: rotate(45deg);
      top: 11px;
    }
    &.open span:nth-child(2){
      opacity:0;
    }
    &.open span:nth-child(3){
      transform: rotate(-45deg);
      top: 11px;
      width: 100%!important;
    }
  }

  &__links {
    li {
      margin-left: 25px;
    }
  }

  &-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    //background-color: rgba(255, 255, 255, 0.95);
    //color: $black;
    color: $light-gray;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-size: 22px;
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
  
@media (max-width: $phone) {
  .header {
    &-burger {
      display: block;
    }
    &__links {
      display: none;
    }
  }
}    


.show-enter-active, .show-leave-active {
  transition: opacity .5s;
}
.show-enter, .show-leave-to {
  opacity: 0;
}