.education {
  &__item {
    margin-top: 50px;
    h3 {
      color: $yellow;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      :first-child {
        margin-right: 20px;
      }
    }
    :last-child {
      margin: 0!important;
    }
  }
  
}