.projects {
  border-top: 1px solid $dark-gray;

  &__content {
    text-align: center;
    &-subtitle {
      color: $gray;
    }
    
    &-items {
      margin-top: 20px;
      .item {
        position: relative;
        width: 350px; height: 300px; 
        background-color: $white;
        margin: 8px;
        align-items: center;
        background-size: cover;
        background-position: center center;
        background-image: url('../../assets/images/item.jpeg');
        transition: 1.2s;
        &-shadow {
          width: 100%; height: 100%;
          background: rgba(0, 0, 0, 0.75);
          p { 
            text-transform: uppercase;
            color: $white;
            font-weight: 600;
            margin-right: 10px;
          }
        }
        :hover {
          transform: scale(1.0);
        }
      }
      :hover {
        transform: scale(1.02);
      }
    }
  }
}