@font-face {
  src: url('/assets/fonts/Stem-Regular.otf');
  font-family: SRegular;
}
@font-face {
  src: url('/assets/fonts/Stem-Light.otf');
  font-family: SLight;
  font-weight: 100;
}
@font-face {
  src: url('/assets/fonts/Stem-Medium.otf');
  font-family: SMedium;
}