$outline: 2px solid red;

$max-width: 1500px;
$max: 1440px;
$desktop-big: 1280px;
$desktop-little: 980px;
$tablet: 720px;
$phone: 480px;

// colors
$black: #000000;
$blue: #0596D6;
$dark-blue: #0c628d;
$white: #FFFFFF;
$yellow: #E2A676;
$red: #bd0040;
$green: rgb(27, 138, 90);
$dark-green: rgb(7, 107, 80);
$gray: #C4C4C4;
$dark-gray: #414141;
$light-gray: #f8f8f8;
$dark: #1E1E1E;